.aboutBanner {
  background: $themeColor;
  padding: 50px 0;
  color: $color1;
  text-align: center;
  @include breakpoint-min(calc-rem(768)) {
    text-align: left;
    padding: 60px 0 100px;
  }
  .title {
    font-size: calc-rem(30);
    text-transform: uppercase;
    margin-bottom: 34px;
    font-family: "Gotham-Medium";
  }
  .text {
    margin:0 auto 35px;
    margin-bottom: 35px;
    max-width: 480px;
    padding: 0 20px;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint-min(calc-rem(768)) {
      margin:0 auto 35px;
      padding: 0 ;
    }
  }
}
.pointsWrapper {
  .title {
    font-size: calc-rem(30);
    margin-bottom: 40px;
    font-family: "Gotham-Medium";
    text-transform: uppercase;
    text-align: center;
    @include breakpoint-min(calc-rem(768)) {
      text-align: left;
    }
  }
  .listing {
    padding: 0 20px;
    margin-bottom: 25px;
    text-align: center;
    .item {
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
      span {
        font-family: "Gotham-Medium";
      }
    }
    @include breakpoint-min(calc-rem(768)) {
      padding: 0;
      margin-bottom: 0;
      text-align: left;
    }
  }
}
.profileWrapper {
  padding: 80px 0;
  text-align: center;
  @include breakpoint-min(calc-rem(768)) {
    text-align: left;
  }
  .infoBox {
    text-align: center;
    padding: 0 20px;
    @include breakpoint-min(calc-rem(768)) {
      text-align: left;
      padding: 0 0px;
    }
    .headBox {
      margin-bottom: 20px;
      @include breakpoint-min(calc-rem(1024)) {
        margin-bottom: 30px;
      }
      @include breakpoint-min(calc-rem(1200)) {
        margin-bottom: 47px;
      }
      .name {
        font-family: "Gotham-Medium";
        font-size: calc-rem(30);
        margin-bottom: 4px;
      }
      .pos-info {
        font-family: "Gotham-Medium";
        margin-bottom: 0;
      }
    }
    .listInfo {
      .item {
        margin-bottom: 15px;
        @include breakpoint-min(calc-rem(1024)) {
          margin-bottom: 20px;
        }
        @include breakpoint-min(calc-rem(1200)) {
          margin-bottom: 32px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .text {
          opacity: 0.6;
          margin-bottom: 0px;
          @include breakpoint-min(calc-rem(1024)) {
            margin-bottom: 7px;
          }

          &:last-child {
            margin-bottom: 0;
          }
          &.bold {
            font-family: "Gotham-Medium";
            opacity: 1;
          }
        }
      }
    }
  }

  .contBox {
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .bannerBox {
    img{
      border-radius: 15px;
    }
    @include breakpoint-max(calc-rem(767)) {
      margin-bottom: 40px;
    }
  }
  @include breakpoint-min(calc-rem(1024)) {
    .pr-row {
      margin: 0 -20px;
      .row-item {
        padding: 0 20px;
      }
    }
  }
  @include breakpoint-min(calc-rem(1200)) {
    .pr-row {
      margin: 0 -40px;
      .row-item {
        padding: 0 40px;
      }
    }
  }
}

.contactWrapper {
  padding: 70px 0;
  @include breakpoint-min(calc-rem(768)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1024)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1200)) {
    padding: 100px 0;
  }
  .map {

    border-radius: 15px;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    margin-bottom: 40px;
    iframe{
      position: absolute;
      top: 0;
    }
    @include breakpoint-min(calc-rem(768)) {
      margin-bottom: 0;
      padding-top: 0;
      height: 100%;
    }
  }
  .formBox {
    @include breakpoint-min(calc-rem(768)) {
      margin-left: 20px;
    }
    @include breakpoint-min(calc-rem(1024)) {
      margin-left: 40px;
    }
    .formTitle {
      font-size: calc-rem(30);
      margin-bottom: 30px;
      font-family: "Gotham-Medium";
      text-transform: uppercase;
      text-align: center;
      @include breakpoint-min(calc-rem(768)) {
        margin-bottom: 44px;
        text-align: left;
      }
    }
    .formControl {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      .formInput {
        background: none;
        border: none;
        width: 100%;
        border: 1px solid #c9c9c9;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: calc-rem(14);
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
    .formBtn {
      background: #b80000;
      color: $color1;
      width: 100%;
      border-radius: 10px;
      height: 50px;
      border: 0;
      text-transform: capitalize;
      font-family: "Gotham-Medium";
    }
  }
}
