.homeBanner{
  background: #b80000;
  padding: 27px 0;
  color: $color1;
  @include breakpoint-min(calc-rem(768)) {
    padding: 60px 0;
  }
  .secondryHeader{
    margin-bottom: 85px;
      .logo{
        img{
          max-width: 200px;
          display: block;
        }
      }
      .profileNav{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li{
          margin-left: 50px;
          &:first-child{
            margin-left: 0;
          }
          a{
            display: block;
          }
          &.desktopMenu{
            display: none;
          }
          @include breakpoint-min(calc-rem(1040)) {
          &.desktopMenu{
            display: block;
          }
        }
        }
      }

  }
  .contentBox{
    @include breakpoint-min(calc-rem(768)) {
      margin-bottom: 80px;
    }
  .title{
    font-size: calc-rem(31);
    line-height: 35px;
    margin-bottom:40px;
    @include breakpoint-min(calc-rem(768)) {
      margin: 0;
    }
    @include breakpoint-min(calc-rem(1200)) {
      font-size: calc-rem(37);
      line-height: 40px;
    }
  }
  .listBox{
    display: flex;
    flex-wrap: wrap;
    .item{
      margin-right: 0px;
      flex: 0 0 100%;
      @include breakpoint-max(calc-rem(767)) {
        overflow: hidden;
        border-bottom: 1px solid rgba($color1,.2);
        ul.list {
          height: auto;
          margin:0 0 0px 15px !important;
          animation: mymove2 0.5s forwards;
          transition: .3s;
        }
        &.active {
          .listTitle{
            .arrowIcon{
               &:after{
                transform: translate(0, -50%) rotate(-180deg);
               }
            }
          }
          ul.list {
            height: auto;
            animation: mymove 0.5s forwards;
            padding: 15px 0;
          }
        }
        .listTitle{
          position: relative;
          margin-bottom: 0;
          padding: 17px 0;

          .arrowIcon{
            z-index: 1;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
             &:after{
               content: "";
              background: url("~assets/images/sprite.svg") no-repeat;
              height: 7px;
              width: 10px;
              position: absolute;
              top: 50%;
              right: 0%;
              transform: translate(0, -50%);
              background-position: -52px -23px;
              transition: .15s;
             }
          }
        }
      }

      @include breakpoint-min(calc-rem(768)) {
        flex: 1;
        margin-top: 0px;
        margin-right: 30px;
      }
      @include breakpoint-min(calc-rem(1024)) {
        // margin-right: 90px;
      }
      @include breakpoint-min(calc-rem(1200)) {
        // margin-right: 100px;
      }
      &:last-child{
        margin-right: 0;
      }
    .listTitle{
      text-transform: uppercase;
      font-size: calc-rem(12);
      font-family: "Gotham-Medium";
      @include breakpoint-min(calc-rem(768)) {
        color: rgba($color1,.5);
        margin-bottom: 25px;
        // font-family: "Gotham-Book";
      }
    }
    ul.list{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        font-size: calc-rem(12);
        text-transform: uppercase;
        margin-bottom: 15px;
        color: $color1;

        @include breakpoint-min(calc-rem(768)) {
          margin-bottom: 23px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        a{
          font-size: calc-rem(12);
          text-decoration: none;
          text-transform: uppercase;
          color: $color1;
          display: inline-block;
          font-family: "Gotham-Medium";
          letter-spacing: 1px;
        }
      }
    }
  }
  }
}
}
.bannerWrapper{
  .img-bx {
    display: block !important;
    @include breakpoint-max(calc-rem(767)) {
      height: 275px;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;

      }
      }
}
.slick-dots{
  bottom: 30px;
  li {
    button:before{
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
    box-shadow: 0 0 7px -1px #6d6d6d;
    opacity: 1 !important;
  }
  &.slick-active{
    button:before{
      background: #fff;
    }
  }
}
}
}
.funFamily{
  display: flex;
  flex-wrap: wrap;
  // padding: 118px 0;
  padding: 70px 0;
  overflow: hidden;
  @include breakpoint-min(calc-rem(768)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1024)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1200)) {
    padding: 100px 0;
  }
  .imgBox{
    flex: 0 0 100%;
    max-width: 100%;
    white-space: nowrap;
    overflow: scroll;
    padding:0 20px;
    @include breakpoint-min(calc-rem(768)) {

    display: flex;
    flex-wrap: wrap;

    white-space:unset;
    overflow:unset;
    }
    @include breakpoint-min(calc-rem(1024)) {
      margin: 0 -13px;
      padding: 0 0 0 20px;
      flex: 0 0 65%;
      max-width: 65%;
    }
    .item{
      display: inline-block;
      // padding-top: 100%;
      width: 60%;
      margin-right: 15px;
      position: relative;
      &:last-child{
        margin-right: 0;
      }
      img{
        // position: absolute;
        // top: 0;
        // left: 0;
        // object-fit: cover;
        // height: 100%;
        // width: 100% ;
        border-radius: 15px;
      }
      @include breakpoint-min(calc-rem(768)) {
        display:block;
        margin-right: 0;
        padding: 0 13px;
      border-radius: 15px;
      overflow: hidden;
      flex: 0 0 33.33%;
      max-width: 33.33%;
        // height: 315px;
      }
      img{
        position:relative;

      }
      @include breakpoint-min(calc-rem(1024)) {
        // height: 260px;
        &:first-child{
          margin-left: -30px;
        }
        &:nth-child(2){
          margin-top: 68px;
        }
      }
      @include breakpoint-min(calc-rem(1200)) {
        // height: 295px;
      }

    }
  }
.contentBox{
  flex: 0 0 100%;
    max-width: 100%;
    padding: 0 40px;
    margin-top: 50px;
    text-align: center;
    .btnGroup{
      justify-content: center;
    }
    @include breakpoint-min(calc-rem(1024)) {
      flex: 0 0 31%;
      max-width: 31%;
      padding: 0 0 0 50px;
      margin-top: 0px;
      text-align: left;
      .btnGroup{
        justify-content: flex-start;
      }
    }

  .title{
    font-size:calc-rem(30);
    text-transform: uppercase;
    margin-bottom: 30px;
    // font-weight: bold;
    font-family: "Gotham-Medium";
    @include breakpoint-min(calc-rem(768)) {
      font-size:calc-rem(40);
    }
    @include breakpoint-min(calc-rem(1024)) {
      font-size:calc-rem(45);
    }
    @include breakpoint-min(calc-rem(1200)) {
      font-size:calc-rem(54);
    }
  }
  .text{
    font-size: calc-rem(16);
    line-height: 25px;
    margin-bottom: 40px;
  }
  .link{
    text-decoration: none;
    font-size: calc-rem(20);
    margin-bottom: 40px;
    color: $primaryColor;
    display: inline-block;
    font-family: "Gotham-Medium";
  }
  .linkBtn{
    background-color: $themeColor;
    font-size: calc-rem(14);
    border-radius: 5px;
    color: $color1;
    border: none;
    padding: 16px 60px 8px;
    display: inline-block;
  }
}
}


.ourProduct{
  padding: 70px 0;
  @include breakpoint-min(calc-rem(768)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1024)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1200)) {
    padding: 100px 0;
  }
  .mainTitle{
    font-size: calc-rem(30);
    margin-bottom: 44px;
    text-align: center;
    // font-weight: bold;
    font-family: "Gotham-Medium";
  }
  .productBox{
    overflow: hidden;
    transition: .5s;
    height: 100%;
    border-radius: 0 0 15px 15px;
    margin-bottom: 30px;
    @include breakpoint-min(calc-rem(768)) {
      margin-bottom: 0;
    }
    .imgBox{
      position: relative;
      border-radius: 15px 15px 0px 0px;
      overflow: hidden;
      padding-top: 100%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position:absolute;
        top: 0;
      }
    }
    .contentBox{
      padding: 30px 10px;
      text-align: center;
      background: #FAFAFA;
      border-radius: 0 0 15px 15px;
      transition: .5s;

      @include breakpoint-min(calc-rem(768)) {
        height: 100%;
      }
      .title{
        font-size: calc-rem(20);
        margin-bottom: 25px;
        transition: .5s;
        // font-weight: bold;
        font-family: "Gotham-Medium";
      }
      .text{
        font-size: calc-rem(16);
        line-height: 25px;
        transition: .5s;
        margin: 0;
        min-height: 75px;
      }
    }
    &:hover{
      .contentBox{
        background: $themeColor;
        .title,.text{
          color: $color1;
        }

      }
    }
  }
}
.homeAbout{
  padding: 70px 0;
  @include breakpoint-min(calc-rem(768)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1024)) {
    padding: 70px 0;
  }
  @include breakpoint-min(calc-rem(1200)) {
    padding: 100px 0;
  }
  text-align: center;
  .title{
    font-size: calc-rem(30);
    margin-bottom: 44px;
    text-align: center;
    // font-weight: bold;
    font-family: "Gotham-Medium";
  }
  .text{
    font-size: calc-rem(16);
    line-height: 25px;
    max-width: 765px;
    margin: 0 auto;
  }
  .btnGroup{
    margin-top: 45px;
  }
}
